<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebBookReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Conn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=db\pim.mdb" providerName="System.Data.OleDb"/>
    <!--<add name="Conn" connectionString="Data Source=.\sqlexpress;Initial Catalog=PIM;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="AccessDbNameForWeb" value="pim.mdb"/>
    <add key="OpenDebugInfo" value="true"/>
    <add key="IsWriteLog" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Web.index" value="\Web\main.html"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <applicationSettings>
    <WebBookReader.Properties.Settings>
      <setting name="RegexConfig" serializeAs="String">
        <value>{
	"HtmlToString":[
		{"pattern": "&lt;\\s*/p&gt;","replacement":"\r\n"},
		{"pattern": "&lt;br\\s*/&gt;","replacement": "\r\n"},
		{"pattern": "&amp;nbsp;","replacement":" "},
		{"pattern": "\\t","replacement":""},
		{"pattern": "(?is)&lt;.*?&gt;","replacement":""}
	],
	"StringToHtml":[
		{"pattern": "","replacement":""},
		{"pattern": "","replacement":""}
	]
}</value>
      </setting>
    </WebBookReader.Properties.Settings>
  </applicationSettings>
</configuration>